= simple_form_for(@item, url: admin_menu_items_path(@menu), validate: true) do |f|
  .modal-header
    %a.close(data-dismiss="modal" aria-hidden="true") ×
    %h3= t '.title'
  .modal-body
    = render 'form', f: f
  .modal-footer
    %a.btn(data-dismiss="modal" aria-hidden="true")= t '.close'
    = f.submit class: 'btn btn-primary'