%ul.nav.nav-pills
  - @items.each do |k, v|
    - if v.count > 0
      %li.dropdown{ :class => menu_item_class(k) }
        %a.dropdown-toggle{ :href => show_page_path(k.slug), role: 'button', :id => "menu-item-#{ k.id }", :"data-toggle" => "dropdown", :"data-target" => show_page_path(k.slug) }
          = k.name
          %b.caret
        %ul.dropdown-menu{ role: 'menu', :"aria-labelledby" => "menu-item-#{k.id}" }
          - v.each do |child_k, child_v|
            %li
              = link_to child_k.name, show_page_path(child_k.slug)      
    - else
      %li{ :class => menu_item_class(k) } 
        = link_to k.name, show_page_path(k.slug)