%h1= t '.title'

%br
= link_to t('.add'), new_admin_menu_path, class: 'btn btn-primary'
%br
%br

%table.table.table-bordered
  %thead
    %tr
      %th.id-col #
      %th= Menu.human_attribute_name :name
      %th.count-col= Menu.human_attribute_name :items_count
      %th.actions-col
  %tbody
    - @menus.each do |menu|
      %tr
        %td.id-col= menu.id
        %td= link_to menu, edit_admin_menu_path(menu)
        %td.count-col= menu.items.count
        %td.actions-col
          = link_to t('.edit'), edit_admin_menu_path(menu), class: 'btn btn-info'
          = link_to t('.elements'), admin_menu_items_path(menu), class: 'btn btn-success'
          = link_to t('.delete'), admin_menu_path(menu), method: :delete, class: 'btn btn-alert'
