!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Мастер ИТ"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "site", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")

  %body
    .container-narrow
      = render 'layouts/shared/web/header'

      = render 'layouts/shared/web/top_menu'

      .content.container

        - if has_left_menu?
          = left_menu
          .row
            .span9.offset3
              = render 'layouts/shared/web/emergency_call'
              = yield
        - else
          .row
            .span12.content-span
              = render 'layouts/shared/web/emergency_call'
              - if main_page?
                = render 'layouts/shared/web/about_center'

              = yield

      %hr
    = render 'layouts/shared/web/footer'

    .subscribe-modal.modal.hide.fade

    = javascript_include_tag "site"
