
= simple_form_for(@type, url: session_path, html: { class: 'form-signin' }) do |f|
  %h2.form-signin-heading= t('.title')

  = f.input :email, :placeholder => 'Email', :label => false, :input_html => { :class => 'input-block-level' }
  = f.input :password, :placeholder => 'Пароль', :label => false, :input_html => { :class => 'input-block-level' }
  = f.submit t('.submit'), :class => 'btn btn-primary btn-large'
