%h1= t '.title'

%br
= link_to t('.add'), new_admin_page_path, class: 'btn btn-primary'
%br
%br

%table.table.table-bordered
  %thead
    %tr
      %th.id-col #
      %th= Page.human_attribute_name :title
      %th= Page.human_attribute_name :slug
      %th= Page.human_attribute_name :state
      %th= Page.human_attribute_name :created_at
      %th= Page.human_attribute_name :updated_at
      %th.actions-col
  %tbody
    - @pages.each do |page|
      %tr
        %td.id-col= page.id
        %td= link_to page, edit_admin_page_path(page)
        %td= page.slug
        %td= page.state
        %td= l page.created_at
        %td= l page.updated_at
        %td.actions-col
          = link_to t('.edit'), edit_admin_page_path(page), class: 'btn btn-info'
          = link_to t('.delete'), admin_page_path(page), method: :delete, class: 'btn btn-alert'

